* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-image: url(https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.list-container {
    /* background-image: linear-gradient(to right, #2193b0 , #6dd5ed); */
    background: #3C424A;
    height: 90vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.list-container h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: .20rem 0rem;
    border-bottom: 1px solid #fff;
}
.list-container section {
    padding: 0rem 2rem;
}
.current-week-day {
    padding-top: 1rem;
    font-size: 2rem;
}
.current-date,
.current-time {
    color: #d6d6d6;
    font-size: 1.2rem;
}

.todo-input {
    width: 400px;
    padding: .50rem;
    border: none;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-top: 1rem;
    color: #2193b0;
}
.todo-button {
    width: 2rem;
    height: 2rem;
    border: none;
    margin-top: .50rem;
    background: #218fb0;
    cursor: pointer;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-left: -1rem;
}
.todo-button:hover {
    box-shadow: 2px 2px 10px rgba(156, 221, 241, 0.849);
}
.todo-button .fas {
    color: #fff;
}

.todo-container {
    padding: 0rem 1rem;
    margin-top: 1rem;
}

/* class created on js */
.todo-div {
    display: flex;
}
.todo-item {
    color: #fff;
    list-style-type: none;
}