* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-image: url(https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.list-container {
    /* background-image: linear-gradient(to right, #2193b0 , #6dd5ed); */
    background: #3C424A;
    height: 90vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.list-container h1 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: .20rem 0rem;
    border-bottom: 1px solid #fff;
}
.list-container section {
    width: 70%;
    margin: 0 auto;
}
.current-week-day {
    padding-top: 1rem;
    font-size: 2rem;
}
.current-date,
.current-time {
    color: #d6d6d6;
    font-size: 1.2rem;
}

.todo-input {
    width: 100%;
    padding: .50rem;
    border: none;
    border-radius: 3px;
    margin-top: 1rem;
    color: #2193b0;
}
.todo-button {
    width: 3rem;
    height: 2rem;
    border: none;
    margin-top: .30rem;
    background: #218fb0;
    cursor: pointer;
    border-radius: 3px;
    margin-left: -1rem;
}
.todo-button:hover {
    box-shadow: 2px 2px 10px rgba(156, 221, 241, 0.849);
}
.todo-button .fas {
    color: #fff;
}

.todo-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.todo-list-ul {
    width: 100%;
}

/* class created on js */
.todo-div {
    display: flex;
    padding: .40rem 0rem;
    min-width: 100%;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.todo-item {
    color: #fff;
    list-style-type: none;
}

.checkbox {
    margin-right: 1rem;
    width: 1.3rem;
    height: 2rem;
    cursor: pointer;
}

.trash-icon {
    margin-left: auto;
    cursor: pointer;
    transition: all .3s ease;
}
.trash-icon:hover {
    color: rgba(228, 62, 40, 0.85);
}
.completed {
    opacity: 0.5;
    text-decoration: line-through;
}

@media screen and (max-width: 900px) {
    .list-container {
        width: 80vw;
    }
    .list-container section {
        width: 80%;
    }
}
@media screen and (max-width: 660px) {
    .list-container {
        width: 90vw;
    }
    .list-container section {
        width: 90%;
    }
}